body {
  font-family: 'Roboto', sans-serif;
  background: #758BA0;
}
h1, h2{
  text-transform: uppercase;
}
.header {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
  background: white;
}

.example {
  margin: auto;
  width: 60%;
  padding: 10px;
  background: white;
}

form {
  background-color: #354049;
  color:white;
  width: 60%;
  padding: 30px;
}
.container {
  margin: auto;
  width: 60%;
  padding: 10px;
  background: white;
  clear: both;
}
.container input {
    width: 100%;
    clear: both;
}

footer{
  color: white;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 0px;
  background: #232323;
}
